<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Advanced React Starter Kit</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
</head>
<body>
    <div id="app">
        <!-- Server Side Rendering -->
        @Html.React("App", new { })
    </div>
    
    <!--Client Side -->
    <script src="~/js/client.bundle.js"></script>    
</body>
</html>
